body
{
    background-image: linear-gradient(to right, #660000, #234794);
}
.container
{
    height: 100vh;
    width: 100%;
}
#back
{
    padding-top: 5rem;
    height: 10rem;
    font-size: xx-large;
    text-align: center;
    transition: 1s ease-in-out all;
}
#back:hover
{
    font-size: 400%;
}
.content
{
    width: 40rem;
    clear: right;
}
#link
{
    color: whitesmoke;
    text-decoration: none;
}
#panelsStayOpen-collapseOne
{
    background-image: url("");
}









