.cardImage:hover
{
    scale: 1.05;
}
.cardImage
{
    transition: ease-in-out 1.5s;
    border-radius: 1rem;
    margin-top: 1rem;
}
body
{
    background-image: linear-gradient(to right, #660000, #234794);
}
h2
{
    text-align: center;
    color: whitesmoke;
}
.back
{
    float: right;
}
.card-title
{
    color: lightskyblue;
}




